# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
/server/node_modules

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/0.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/0.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/0.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/0.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/1.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/2.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/3.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/4.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/5.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/6.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/7.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/8.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/9.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/10.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/11.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/13.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/index.pack
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/index.pack.old
.angular/cache/13.3.5/angular-webpack/e2f1756a1ced737e4671698b4c611dcaee2e110b/0.pack
