<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita officiis totam quam
                aliquam. Expedita
                officiis perspiciatis laudantium at molestiae, sapiente facere veniam eum alias ex repellendus, ducimus,
                corrupti provident ratione!</p>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-3">
            <form>
                <div class="mb-2"><input type="text" class="form-control" placeholder="Name"></div>
                <div class="mb-2"><input type="text" class="form-control" placeholder="Foto URL"></div>
                <div class="mb-2"><input type="text" class="form-control" placeholder="E-mail"></div>
                <div class="mb-2"><input type="text" class="form-control" placeholder="Mobile"></div>
                <div class="mb-2"><input type="text" class="form-control" placeholder="Company"></div>
                <div class="mb-2"><input type="text" class="form-control" placeholder="Title"></div>
                <select name="" class="form-control mb-2 text-secondary" id="">
                    <option value="">Select a list-group</option>
                </select>
                <input type="submit" class="btn btn-danger" value="Update">
                <a routerLink="/" class="btn btn-dark ms-2">Close</a>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://pbs.twimg.com/media/EbNX_erVcAUlwIx?format=jpg&name=small" class="contact-img" alt="">
        </div>
    </div>
</div>