<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita officiis totam quam
                aliquam. Expedita
                officiis perspiciatis laudantium at molestiae, sapiente facere veniam eum alias ex repellendus, ducimus,
                corrupti provident ratione!</p>
        </div>
    </div>
</div>
<!-- Loading Spinner -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<!-- Error Message -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-3">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input [(ngModel)]="contact.name" type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.photo" name="photo" type="text" class="form-control"
                        placeholder="Foto URL">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.email" class="form-control" name="email"
                        placeholder="E-mail">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.mobile" class="form-control" name="mobile"
                        placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.company" class="form-control" name="company"
                        placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.title" class="form-control" name="title"
                        placeholder="Title">
                </div>
                <div class="mb-2">
                    <select *ngIf="groups.length > 0" [(ngModel)]="contact.groupId" name="groupId"
                        class="form-control mb-2 text-secondary" id="">
                        <option value="">Select a list-group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Create">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo" name="photo" class="contact-img" alt="">
        </div>
    </div>
</div>